/*
    Created on : 15/03/2013, 01:39:38 PM
    Author     : hasdai
    Description:
        Estilos para SWBPModeler
*/

@import "_swbptheme.scss";

.textLabel {
   user-select: none;
   cursor: hand;
}

.modeler {
    border: 1px solid #A5ACB5;
    background-image: linear-gradient(to top, #FFFFFF 0%, #EAEDEF 100%);
}

.modelerOver {
    border: 2px solid green;
    background-image: linear-gradient(to top, #FFFFFF 0%, #EAEDEF 100%);
}

.resizeBox {
    stroke:#2c5aa0;
    fill:#FFFFFF;
    stroke-width:1.5;
}

.selectBox {
    fill:#f0f0f0;
    fill-opacity:.5;
    stroke-width:1;
    stroke:#2c5aa0
}

.toolTip {
    background-color: #fff;
    opacity: 0.8;
    border: 1px solid #000;
    position: fixed;
    top: 10px;
    margin-left: 50%;
    width:200px;
    max-width: 300px;
    text-align: center;
    border-radius: 3px;
}

.errorToolTip {
    background-color: #e7c1c1;
    border: 1px solid red;
}

.warningToolTip {
    background-color: #faf2cc;
    border: 1px solid orange;
}

.overlay {
    z-index: 2;
    position:absolute;
    top:20%;
    width: 100%;
    display:none;
}

.loadDialog {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid gray;
    border-radius: 4px 4px 4px 4px;
    margin: auto !important;
    opacity: 1;
    text-align: justify;
    width: 450px;
    moz-box-shadow: 10 0 3px 6px #888;
    -webkit-box-shadow: 10 0 3px 6px #888;
    box-shadow: 10 0 3px 6px #888;

    .titleBar {
        background: none repeat scroll 0 0 lightgray;
        color: #000000;
        font-weight: bold;
        padding: 8px 10px;
        margin:0px;
    }

    form {
        margin: 0px;
    }
}

.loadDialogContent {
    padding: 5px 10px;

    .dropArea {
        border: 2px dashed lightgray;
        margin:5px;
        padding: 5px;
        color:gray;
    }

    .dropAreaOver {
        border: 2px dashed lightblue;
        margin:5px;
        padding: 5px;
        color:gray;
    }
}

.loadDialogCloseButton {
    float:left;
    left:430px;
    position:relative;
    top:-25px;

    a {
        background: url(#{$imgPath}/modeler/cerrar1.png) no-repeat;
        display:block;
        text-decoration:none;
        font-size:0px;
        width:15px;
        padding-top:15px;
    }
}

.buttonRibbon {
    width: 100%;
    text-align: right;
    background-color: lightgray;
    border-top: 1px solid gray;
    padding-top: 5px;
    padding-bottom: 5px;
}

/***************************** Modeler NavPath *********************************/

.navPath li {
    float:left;
    background-color: #e7e7e7;

    a {
        font-family: Verdana, sans-serif;
        font-size: 0.7em;
        cursor: pointer;
    }

    a, a:hover {
        text-decoration: none;
        padding: 5px 0 5px 40px;
        position: relative;
        display: block;
        float: left;
    }

    a:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid #e7e7e7;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
    }

    a:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid white;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 1px;
        left: 100%;
        z-index: 1;
    }

    a.selected {
        font-weight: bold;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default !important;
    }
}

.navPath li:last-child a:after { border: 0; }

.navPath li:first-child a {
    padding-left: 10px;
}

.navPath li:last-child a {
    padding-right: 10px;
}

.navPath .navPathList {
    list-style: none;
    overflow: hidden;
    margin:0;
    padding-left:0;
}

.navPath.viewOnly {
    position:relative;
    left:50px;
}

/*****************************  NAVBAR **********************************************/

ul.breadcrumbs {
    margin:10px 0;
    padding:0;
    line-height:0%;
    font-size:0;

    li {
        list-style-type:none;
        margin:0;
        padding:0;
        display:inline-block;
        /*display:inline; /* IE ONLY*/
        position:relative;
        zoom:1;
        line-height:100%;
        font-size:14px; /* 0.8em default to override font-size:0; on parent*/

        a {
            display:inline-block;
            /*display:inline; /* IE ONLY*/
            position:relative;
            padding:5px 15px 5px 5px;
            font-size:0.9em;
            zoom:1;
            margin:0;
            background:url(#{$imgPath}/modeler/icon-arrow-right.png) no-repeat right center;
        }
    }

    li.last a {
        color:#333;
        cursor: default;
        text-decoration:none;
        background:none;
    }

    li.last a:hover {
        text-decoration:none;
    }
}

/* Alternative Style */
ul.breadcrumbs.alt1 {
    border:1px solid transparent;
    font-size:0;

    li a {
        padding:10px 25px 10px 15px;
        background:url(#{$imgPath}breadcrumbs-bg.gif) no-repeat right center;
        text-decoration:none;
        border-top:1px solid #efefef;
        border-bottom:1px solid #efefef;
        font-size:12px;
    }

    a:hover {
        text-decoration:underline;
    }

    li.first a {
        border-left:1px solid #efefef;
    }

    li.last a {
        background:none;
        border-right:1px solid #efefef;
    }
}

/*****************************  TOOLBAR **********************************************/
.toolbarContainer {
    position: fixed;
    overflow-y: scroll;
    top:23px;
    left:0;
    height: 100%;
}

.toolbarItem {
    width: 49px;
    vertical-align: bottom;
}

.startEventItem {
    background: url(#{$imgPath}/modeler/start_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:49px;

    &:hover {
        background: url(#{$imgPath}/modeler/start_2.png) top center no-repeat;
    }
}

.fileItem {
    background: url(#{$imgPath}/modeler/file1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:49px;

    &:hover {
        background: url(#{$imgPath}/modeler/file2.png) top center no-repeat;
    }
}

.intereventItem {
    background: url(#{$imgPath}/modeler/inter_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:49px;

    &:hover {
        background: url(#{$imgPath}/modeler/inter_2.png) top center no-repeat;
    }
}

.endeventItem {
    background: url(#{$imgPath}/modeler/end_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:49px;

    &:hover {
        background: url(#{$imgPath}/modeler/end_2.png) top center no-repeat;
    }
}

.toolbarSeparator {
    background: url(#{$imgPath}/modeler/barra_division.png) top center no-repeat;
    position: relative;
    float: left;
    height:12px;
    width:49px;
}

.toolbarFooter {
    background: url(#{$imgPath}/modeler/barra_bottom.png) top center no-repeat;
    position: relative;
    float: left;
    height:8px;
    width:49px;
}

.taskItem {
    background: url(#{$imgPath}/modeler/task_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:49px;

    &:hover {
        background: url(#{$imgPath}/modeler/task_2.png) top center no-repeat;
    }
}

.taskcallItem {
    background: url(#{$imgPath}/modeler/task_call_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:49px;

    &:hover {
        background: url(#{$imgPath}/modeler/task_call_2.png) top center no-repeat;
    }
}

.subtaskItem {
    background: url(#{$imgPath}/modeler/subtask_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:49px;

    &:hover {
        background: url(#{$imgPath}/modeler/subtask_2.png) top center no-repeat;
    }
}

.gatewayItem {
    background: url(#{$imgPath}/modeler/if_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:49px;

    &:hover {
        background: url(#{$imgPath}/modeler/if_2.png) top center no-repeat;
    }
}

.artifactItem {
    background: url(#{$imgPath}/modeler/anota_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:49px;

    &:hover {
        background: url(#{$imgPath}/modeler/anota_2.png) top center no-repeat;
    }
}

.dataobjectItem {
    background: url(#{$imgPath}/modeler/doc_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:49px;

    &:hover {
        background: url(#{$imgPath}/modeler/doc_2.png) top center no-repeat;
    }
}

.poolItem {
    background: url(#{$imgPath}/modeler/pool_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:49px;

    &:hover {
        background: url(#{$imgPath}/modeler/pool_2.png) top center no-repeat;
    }
}

.flowItem {
    background: url(#{$imgPath}/modeler/flow_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:49px;

    &:hover {
        background: url(#{$imgPath}/modeler/flow_2.png) top center no-repeat;
    }
}

.newProcess {
    background: url(#{$imgPath}/modeler/file_nuevo1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/file_nuevo2.png) top center no-repeat;
    }
}

.saveProcess {
    background: url(#{$imgPath}/modeler/file_saveas1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/file_saveas2.png) top center no-repeat;
    }
}

.openProcess {
    background: url(#{$imgPath}/modeler/file_abrir1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/file_abrir2.png) top center no-repeat;
    }
}

.storeProcess {
    background: url(#{$imgPath}/modeler/file_enviar1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/file_enviar2.png) top center no-repeat;
    }
}

.saveAsImage {
    background: url(#{$imgPath}/modeler/file_saveasimage1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/file_saveasimage2.png) top center no-repeat;
    }
}

.saveAsSVG {
    background: url(#{$imgPath}/modeler/file_saveassvg1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/file_saveassvg2.png) top center no-repeat;
    }
}

.normalStartEvent {
    background: url(#{$imgPath}/modeler/start_normal1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/start_normal2.png) top center no-repeat;
    }
}

.signalStartEvent {
    background: url(#{$imgPath}/modeler/start_senal1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/start_senal2.png) top center no-repeat;
    }
}

.timerStartEvent {
    background: url(#{$imgPath}/modeler/start_tmp1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/start_tmp2.png) top center no-repeat;
    }
}

.compensaStartEvent {
    background: url(#{$imgPath}/modeler/start_compensa1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/start_compensa2.png) top center no-repeat;
    }
}

.ruleStartEvent {
    background: url(#{$imgPath}/modeler/start_cond1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/start_cond2.png) top center no-repeat;
    }
}

.errorStartEvent {
    background: url(#{$imgPath}/modeler/start_error1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/start_error2.png) top center no-repeat;
    }
}

.scalaStartEvent {
    background: url(#{$imgPath}/modeler/start_escala1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/start_escala2.png) top center no-repeat;
    }
}

.messageStartEvent {
    background: url(#{$imgPath}/modeler/start_msj1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/start_msj2.png) top center no-repeat;
    }
}

.multiStartEvent {
    background: url(#{$imgPath}/modeler/start_multi1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/start_multi2.png) top center no-repeat;
    }
}

.parallelStartEvent {
    background: url(#{$imgPath}/modeler/start_paralelo1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/start_paralelo2.png) top center no-repeat;
    }
}

.normalInterEvent {
    background: url(#{$imgPath}/modeler/inter_normal1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/inter_normal2.png) top center no-repeat;
    }
}

.cancelInterEvent {
    background: url(#{$imgPath}/modeler/inter_cancel_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/inter_cancel_2.png) top center no-repeat;
    }
}

.compensaInterCatchEvent {
    background: url(#{$imgPath}/modeler/inter_compensa_b_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/inter_compensa_b_2.png) top center no-repeat;
    }
}

.compensaInterThrowEvent {
    background: url(#{$imgPath}/modeler/inter_compensa_n_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/inter_compensa_n_2.png) top center no-repeat;
    }
}

.ruleInterEvent {
    background: url(#{$imgPath}/modeler/inter_cond1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/inter_cond2.png) top center no-repeat;
    }
}

.linkInterCatchEvent {
    background: url(#{$imgPath}/modeler/inter_enlace_b_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/inter_enlace_b_2.png) top center no-repeat;
    }
}

.linkInterThrowEvent {
    background: url(#{$imgPath}/modeler/inter_enlace_n_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/inter_enlace_n_2.png) top center no-repeat;
    }
}

.errorInterEvent {
    background: url(#{$imgPath}/modeler/inter_error1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/inter_error2.png) top center no-repeat;
    }
}

.scalaInterCatchEvent {
    background: url(#{$imgPath}/modeler/inter_escala_b_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/inter_escala_b_2.png) top center no-repeat;
    }
}

.scalaInterThrowEvent {
    background: url(#{$imgPath}/modeler/inter_escala_n_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/inter_escala_n_2.png) top center no-repeat;
    }
}

.messageInterCatchEvent {
    background: url(#{$imgPath}/modeler/inter_msj_b_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/inter_msj_b_2.png) top center no-repeat;
    }
}

.messageInterThrowEvent {
    background: url(#{$imgPath}/modeler/inter_msj_n_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/inter_msj_n_2.png) top center no-repeat;
    }
}

.multipleInterCatchEvent {
    background: url(#{$imgPath}/modeler/inter_multi_b_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/inter_multi_b_2.png) top center no-repeat;
    }
}

.multipleInterThrowEvent {
    background: url(#{$imgPath}/modeler/inter_multi_n_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/inter_multi_n_2.png) top center no-repeat;
    }
}

.parallelInterEvent {
    background: url(#{$imgPath}/modeler/inter_paralelo1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/inter_paralelo2.png) top center no-repeat;
    }
}

.signalInterCatchEvent {
    background: url(#{$imgPath}/modeler/inter_senal_b_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/inter_senal_b_2.png) top center no-repeat;
    }
}

.signalInterThrowEvent {
    background: url(#{$imgPath}/modeler/inter_senal_n_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/inter_senal_n_2.png) top center no-repeat;
    }
}

.timerInterEvent {
    background: url(#{$imgPath}/modeler/inter_tmp1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/inter_tmp2.png) top center no-repeat;
    }
}

.normalEndEvent {
    background: url(#{$imgPath}/modeler/end_normal1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/end_normal2.png) top center no-repeat;
    }
}

.cancelEndEvent {
    background: url(#{$imgPath}/modeler/end_cancel1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/end_cancel2.png) top center no-repeat;
    }
}

.compensaEndEvent {
    background: url(#{$imgPath}/modeler/end_compensa1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/end_compensa2.png) top center no-repeat;
    }
}

.errorEndEvent {
    background: url(#{$imgPath}/modeler/end_error1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/end_error2.png) top center no-repeat;
    }
}

.escalaEndEvent {
    background: url(#{$imgPath}/modeler/end_escala1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/end_escala2.png) top center no-repeat;
    }
}

.messageEndEvent {
    background: url(#{$imgPath}/modeler/end_msj1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/end_msj2.png) top center no-repeat;
    }
}

.multiEndEvent {
    background: url(#{$imgPath}/modeler/end_multi1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/end_multi2.png) top center no-repeat;
    }
}

.signalEndEvent {
    background: url(#{$imgPath}/modeler/end_senal1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/end_senal2.png) top center no-repeat;
    }
}

.terminalEndEvent {
    background: url(#{$imgPath}/modeler/end_termina1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/end_termina2.png) top center no-repeat;
    }
}

.abstractTask {
    background: url(#{$imgPath}/modeler/task_normal1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/task_normal2.png) top center no-repeat;
    }
}

.userTask {
    background: url(#{$imgPath}/modeler/task_usr1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/task_usr2.png) top center no-repeat;
    }
}

.scriptTask {
    background: url(#{$imgPath}/modeler/task_script1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/task_script2.png) top center no-repeat;
    }
}

.serviceTask {
    background: url(#{$imgPath}/modeler/task_servicio1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/task_servicio2.png) top center no-repeat;
    }
}

.sendTask {
    background: url(#{$imgPath}/modeler/task_envio1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/task_envio2.png) top center no-repeat;
    }
}

.receiveTask {
    background: url(#{$imgPath}/modeler/task_recive1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/task_recive2.png) top center no-repeat;
    }
}

.ruleTask {
    background: url(#{$imgPath}/modeler/task_rule1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/task_rule2.png) top center no-repeat;
    }
}

.manualTask {
    background: url(#{$imgPath}/modeler/task_manual1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/task_manual2.png) top center no-repeat;
    }
}

.subProcess {
    background: url(#{$imgPath}/modeler/subtask_colapsado1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/subtask_colapsado2.png) top center no-repeat;
    }
}

.adhocsubProcess {
    background: url(#{$imgPath}/modeler/subtask_adhoc1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/subtask_adhoc2.png) top center no-repeat;
    }
}

.eventsubProcess {
    background: url(#{$imgPath}/modeler/subtask_evento1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/subtask_evento2.png) top center no-repeat;
    }
}

.transactionsubProcess {
    background: url(#{$imgPath}/modeler/subtask_transaccion1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/subtask_transaccion2.png) top center no-repeat;
    }
}

.callTask {
    background: url(#{$imgPath}/modeler/task_llamada1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/task_llamada2.png) top center no-repeat;
    }
}

.callmanualTask {
    background: url(#{$imgPath}/modeler/task_call_manual1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/task_call_manual2.png) top center no-repeat;
    }
}

.callruleTask {
    background: url(#{$imgPath}/modeler/task_call_rule1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/task_call_rule2.png) top center no-repeat;
    }
}

.callscriptTask {
    background: url(#{$imgPath}/modeler/task_call_script1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/task_call_script2.png) top center no-repeat;
    }
}

.calluserTask {
    background: url(#{$imgPath}/modeler/task_call_usr1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/task_call_usr2.png) top center no-repeat;
    }
}

.callsubProcess {
    background: url(#{$imgPath}/modeler/subtask_llamada1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/subtask_llamada2.png) top center no-repeat;
    }
}

.exclusiveDataGateway {
    background: url(#{$imgPath}/modeler/gate_datos1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/gate_datos2.png) top center no-repeat;
    }
}

.inclusiveDataGateway {
    background: url(#{$imgPath}/modeler/gate_inclusiva_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/gate_inclusiva_2.png) top center no-repeat;
    }
}

.exclusiveStartEventGateway {
    background: url(#{$imgPath}/modeler/gate_eventos_str_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/gate_eventos_str_2.png) top center no-repeat;
    }
}

.parallelGateway {
    background: url(#{$imgPath}/modeler/gate_paralela_n_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/gate_paralela_n_2.png) top center no-repeat;
    }
}

.exclusiveEventGateway {
    background: url(#{$imgPath}/modeler/gate_eventos_int_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/gate_eventos_int_2.png) top center no-repeat;
    }
}

.parallelStartGateway {
    background: url(#{$imgPath}/modeler/gate_paralela_b_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/gate_paralela_b_2.png) top center no-repeat;
    }
}

.complexGateway {
    background: url(#{$imgPath}/modeler/gate_compleja_1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/gate_compleja_2.png) top center no-repeat;
    }
}

.sequenceFlow {
    background: url(#{$imgPath}/modeler/flow_normal1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/flow_normal2.png) top center no-repeat;
    }
}

.conditionalFlow {
    background: url(#{$imgPath}/modeler/flow_condicion1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/flow_condicion2.png) top center no-repeat;
    }
}

.defaultFlow {
    background: url(#{$imgPath}/modeler/flow_defecto1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/flow_defecto2.png) top center no-repeat;
    }
}

.messageFlow {
    background: url(#{$imgPath}/modeler/flow_msj1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/flow_msj2.png) top center no-repeat;
    }
}

.associationFlow {
    background: url(#{$imgPath}/modeler/doc_dir_asocia1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/doc_dir_asocia2.png) top center no-repeat;
    }
}

.directionalassociationFlow {
    background: url(#{$imgPath}/modeler/doc_asocia1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/doc_asocia2.png) top center no-repeat;
    }
}

.annotation {
    background: url(#{$imgPath}/modeler/doc_anota1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/doc_anota2.png) top center no-repeat;
    }
}

._group {
    background: url(#{$imgPath}/modeler/doc_grupo1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/doc_grupo2.png) top center no-repeat;
    }
}

.dataObject {
    background: url(#{$imgPath}/modeler/doc_normal1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/doc_normal2.png) top center no-repeat;
    }
}

.dataInput {
    background: url(#{$imgPath}/modeler/doc_entrada1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/doc_entrada2.png) top center no-repeat;
    }
}

.dataOutput {
    background: url(#{$imgPath}/modeler/doc_salida1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/doc_salida2.png) top center no-repeat;
    }
}

.dataStore {
    background: url(#{$imgPath}/modeler/doc_base1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/doc_base2.png) top center no-repeat;
    }
}

.pool {
    background: url(#{$imgPath}/modeler/pool_pool1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/pool_pool2.png) top center no-repeat;
    }
}

.lane {
    background: url(#{$imgPath}/modeler/pool_lane1.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:37px;

    &:hover {
        background: url(#{$imgPath}/modeler/pool_lane2.png) top center no-repeat;
    }
}

.toolbarHeader {
    background: url(#{$imgPath}/modeler/barra_top.png) top center no-repeat;
    float: left;
    height:8px;
    width:49px;
}

.subbarStart {
    background: url(#{$imgPath}/modeler/submenu_inicio.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:7px;
}

.subbarEnd {
    background: url(#{$imgPath}/modeler/submenu_fin.png) top center no-repeat;
    position: relative;
    float: left;
    height:43px;
    width:7px;
}

.subbar {
    position: fixed;
}

.subbarHidden {
    display: none;
    position: absolute;
}
